
body {
  margin: 0%;
  padding: 0%;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(221, 235, 243);
  font-weight: bold;
}


.header {
  display: inline;
  position: fixed;
  width: 100%;
  padding: 0% 0%;
  background-color: rgb(221, 235, 243);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(47, 96, 153);
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: large;
  font-weight: bold;
}

.header .headerLogo {
  float: left;
  padding: 3% 3%;
  text-decoration: none;
  background-color: rgb(162, 193, 230);
  color: rgb(0, 0, 0);
  transition: 200ms;
}
.header .headerItems {
  display: inline;
  float: right;
  padding: 3% 3%;
  text-decoration: none;
  color: rgba(0, 47, 100);
  transition: 200ms;
}
.header .headerLogo:hover {
  background-color: rgb(52, 90, 136);
  color: rgb(221, 235, 243);
  transition: 200ms;
}
.header .headerItems:hover {
  background-color: rgb(52, 90, 136);
  color: rgb(221, 235, 243);
  transition: 200ms;
}







.topContent {
  margin: 15% 0% 0% 0%;
  padding: 5% 2% 5% 2%;
  background-color: rgb(90, 190, 147);
}
.topContent p {
  display: inline-block;
}




.cardsContainer {
  margin:  6% 0% 0% 0%;
  background-color: rgb(162, 193, 230);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(47, 96, 153);
  border-left: none;
  border-right: none;
}
.cardsContainer .cardTitle {
  padding: 5%;
  font-size: xx-large;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(47, 96, 153);
  border-top: none;
  border-left: none;
  border-right: none;
}

.cardsContainer .cardData {
  padding: 5%;
}
.cardsContainer p {
  margin: 0%;
}